<div id="news-filter" class="btn-group" style="margin-bottom:20px;">
  <button type="button" class="btn btn-mini active" data-class-name="watch_started">Star</button>
  <button type="button" class="btn btn-mini active" data-class-name="follow">Follow</button>
  <button type="button" class="btn btn-mini active" data-class-name="create">Create</button>
  <button type="button" class="btn btn-mini active" data-class-name="public">Public</button>
  <button type="button" class="btn btn-mini active" data-class-name="fork">Fork</button>
  <button type="button" class="btn btn-mini active" data-class-name="push">Push</button>
  <button type="button" class="btn btn-mini active" data-class-name="issues_opened">Issues Opened</button>
  <button type="button" class="btn btn-mini active" data-class-name="issues_comment">Comment</button>
  <button type="button" class="btn btn-mini active" data-class-name="issues_closed">Issues Closed</button>
  <button type="button" class="btn btn-mini active" data-class-name="gollum">Wiki</button>
  <button type="button" class="btn btn-mini active" data-class-name="gist">Gist</button>
</div>